/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height : 100%;
  margin : 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

#floating-panel {
  position        : absolute;
  top             : 10px;
  left            : 9%;
  z-index         : 5;
  background-color: #fff;
  padding         : 5px;
  text-align      : center;
  font-family     : "Roboto", "sans-serif";
  line-height     : 30px;
  padding-left    : 10px;
  border-radius: 5px;
  box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
}

.button {
  background-color: #117A65;
  border          : none;
  color           : white;
  padding         : 5px 20px;
  text-align      : center;
  text-decoration : none;
  display         : inline-block;
  font-size       : 13px;
  border-radius: 4px;
  box-shadow: 0 2px 7px 1px rgb(0 0 0 / 40%);
}

input[type=number] {
  background-color: white;
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;
  line-height: 20px;
  padding-left: 40px;
  border: 2px solid #ccc;
  border-radius: 1px;
  transition: width 0.4s ease-in-out;
}

input[type=number]:focus {
  border: 1px solid #555;
  /* width: 40%; */
}

.green-bk {
  background-color: #117A65;
}

.blue-bk {
  background-color: #1F618D;
}

.red-bk {
  background-color: #f44336;
}

.white-bk {
  background-color: #e7e7e7;
  color           : black;
}

.grey-bk {
  background-color: #555555;
}